@font-face {
    font-family: 'GOTHAMBLACK';
    src: url('fonts/GOTHAMBLACK.eot');
    src: url('fonts/GOTHAMBLACK.eot') format('embedded-opentype'),
         url('fonts/GOTHAMBLACK.woff2') format('woff2'),
         url('fonts/GOTHAMBLACK.woff') format('woff'),
         url('fonts/GOTHAMBLACK.ttf') format('truetype'),
         url('fonts/GOTHAMBLACK.svg#GOTHAMBLACK') format('svg');
}
@font-face {
    font-family: 'GothamMediumRegular';
    src: url('fonts/GothamMediumRegular.eot');
    src: url('fonts/GothamMediumRegular.eot') format('embedded-opentype'),
         url('fonts/GothamMediumRegular.woff2') format('woff2'),
         url('fonts/GothamMediumRegular.woff') format('woff'),
         url('fonts/GothamMediumRegular.ttf') format('truetype'),
         url('fonts/GothamMediumRegular.svg#GothamMediumRegular') format('svg');
}
@font-face {
    font-family: 'GothamBold_1';
    src: url('fonts/GothamBold_1.eot');
    src: url('fonts/GothamBold_1.eot') format('embedded-opentype'),
         url('fonts/GothamBold_1.woff2') format('woff2'),
         url('fonts/GothamBold_1.woff') format('woff'),
         url('fonts/GothamBold_1.ttf') format('truetype'),
         url('fonts/GothamBold_1.svg#GothamBold_1') format('svg');
}
@font-face {
    font-family: 'GothamBookRegular';
    src: url('fonts/GothamBookRegular.eot');
    src: url('fonts/GothamBookRegular.eot') format('embedded-opentype'),
         url('fonts/GothamBookRegular.woff2') format('woff2'),
         url('fonts/GothamBookRegular.woff') format('woff'),
         url('fonts/GothamBookRegular.ttf') format('truetype'),
         url('fonts/GothamBookRegular.svg#GothamBookRegular') format('svg');
}
.gothamblack{font-family: 'GOTHAMBLACK';}
.gothammediumregular{font-family: 'GothamMediumRegular';}
.gothambold_1{font-family: 'GothamBold_1';}
.gothambookregular{font-family: 'GothamBookRegular';}


.h1 {font-size:32px; font-family:'GothamBookRegular'; text-align:center;color:#00000;}